
  body{
    overflow: hidden;
  }

#start{
  position: absolute;
  left: 0; right: 0; margin: auto;
   bottom: 0;
  cursor: pointer;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 350ms ease-in-out;
    background-color: transparent;
    border-radius: 0.6em;
    font-size: 1rem;
    line-height: 1;
    padding: 1.2em 2.8em;
    font-weight: 700;
    appearance: none;
    animation-duration: 2s;
    animation-name: slidein;
   
}
#start:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
#start:focus{
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
#reload{
  width: 100px;
  height: 100px;
  display: none;
  cursor: pointer;
  
}


@keyframes slidein {
  from {
 margin-left: 100%;
  }

  to {
    margin-left: 0%;
   
  }
}
input{
  color: white;
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: 600;
  border-radius: 4px;
  border-color: black;
  background-color: #EF9C00 ;
  text-align: center;
  font-size: 15px;
  padding: 16px;
}
.wrap__input { 
  display: flex;
  justify-content: center;
  
 
}
.wrap__input input{
  flex: 0 1 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.wrap__input input:hover{
  
  
}
#tableRecords{
  background-color: #EF9C00 ;
  border-radius: 1px;
  animation-duration: 3s;
  animation-name: showInput;
  color: black;
  width: 173px;
  margin-left: 0%;
  border: 2px solid black;
  }
  table{
    width: 173px;
    margin-top: -2px;
    animation-name: showTable;
    animation-duration: 2s;
  }
  @keyframes showTable {
    from {
     opacity: 0;
    }
  
    to {
     opacity: 1;
    }
  }
  td, tr{
    padding: 3px; 
    border: 2px solid black; 
    text-align: center;
  }
  td{}
  .wrap__table{
    width: 173px;
    margin: auto;
  }
  
  @keyframes showInput {
    from {
      transform: rotate(0) scale(.5);
    margin-left: 520%;
      color: black
    }
  
    50% {
      transform: rotate(-720deg) scale(.5);
      color: white;
    }
  
    to {
      transform: rotate(0) scale(1);
      color: black;
      margin-left: 0%;
    }
  }
  
#bird{
 position: absolute;
  cursor: pointer;
  width: 282px;
  height: 255px;
  left: calc(50% - 141.5px);
  top: calc(50% - 127.5px);
}
img{
  width: 458px;
  margin: auto;
  display: block;
}
h1{
  font-family: 'Marck Script', cursive;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  margin-top: 100px;
}
a{
  display: block;
  height: 100%;
}
.telegram{
  background-image: url('../media/telegram.png');
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  animation-name: showDiv;
  animation-duration: 2s;
}
#wrap{
  overflow: hidden;
}
@keyframes showDiv {
  0%,
  99% {
      max-height: 0;
      opacity: 0;
  }
  100% {
    opacity: 1;
      max-height: 50px;
  }
}
.vk{
  background-image: url('../media/VK.png');
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  animation-name: showDiv;
  animation-duration: 2.2s;
}
#aboutScreen{
  width: 780px;
  margin: auto;
 
}
h2{
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  animation-duration: 2s;
  animation-name: text;
}


@keyframes text {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 95%;
  }
}
@media only all and (max-width:857px){
  .wrap__input {
    display: block;
    text-align: center;
    }
  .wrap__input input{
    width: 39%;
    margin: 20px;
  }
  #tableRecords{
    animation-duration: 2s;
    }
    img{
      width: 420px;
    }
    #aboutScreen{
      width: 460px;
      margin: auto;
    }
    h2{
      font-size: 16px;
    }
   
  
    
  }

  
@media only all and (max-width:500px){
  h2{
    font-size: 13px;
  }
  #aboutScreen{
    width:330px;
    
  }
  
}